:root {
  --preto: #000;
  --laranja: #F24405;
  --marrom: #261515;
  --laranja-escuro: #590902;
  --laranja-claro: #F25C05;
  --branco: #fff;
  --cinza: #F2F2F2;
}

main {
  float: left;
  width: 100%;
  background-color: var(--preto);
}

select {
  background-color: var(--laranja);
  color: var(--cinza);
  height: 30px;
  font-size: 20px;
  border: 2px solid var(--laranja-escuro);
  border-radius: 10px;
  margin: 5px;
}

label {
  font-size: 23px;
  color: var(--cinza);
}

.titulo_graficos {
  color: var(--cinza);
}

.escolher_time,
#escolher_jogador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graficos {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--cinza);
}

.graficos>section {
  width: 350px;
  text-align: center;
}

canvas {
  width: 300px;
  padding: 5px;
}

#escolher_jogador {
  display: none;
}

#exibir_graficos_time,
#exibir_graficos_jogador {
  background-color: var(--laranja);
}

#time {
  width: 20%;
  background-color: var(--laranja);
  border: var(--laranja);
}