main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.times {
  margin-top: 10px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#times_masculinos,
#times_femininos,
#times_misto {
  display: flex;
  flex-direction: column;
}

#times_masculinos>button,
#times_femininos>button,
#times_misto>button {
  margin-bottom: 10px;
}